name: talkflip
description: "A new Flutter project." 
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

 
version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  firebase_core: ^2.32.0
  firebase_auth: ^4.16.0
  flutter_tts: ^4.2.3
  speech_to_text: ^5.6.0  # CHANGE THIS FROM 7.3.0 to 5.6.0
  string_similarity: ^2.0.1
  dart_phonetics: ^1.0.1
  permission_handler: ^12.0.1
dev_dependencies:
  flutter_test:
    sdk: flutter 
  flutter_lints: ^5.0.0
 
flutter:
 
  uses-material-design: true

 