name: iOS-ipa-build

on:
  workflow_dispatch:

jobs:
  build_ios:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Precache Flutter iOS
        run: flutter precache --ios

      - name: Get packages
        run: flutter pub get

      - name: Install CocoaPods
        run: |
          cd ios
          pod install --repo-update

      - name: Flutter build iOS (no signing)
        run: flutter build ios --release --no-codesign

